html {
    height: 100%;
    background-color: var(--bulma-white-ter);
    min-width: 500px;
}

.hiding_details {
    .card-header {
        border-bottom-right-radius: 12px;
        border-bottom-left-radius: 12px;
    }

    .card-content {
        display: none;
    }
    .hide-details-button {
        display: none;
    }
    
    .view-details-button {
        display: block !important;
    }
}

.filter-current-option {
    background-color: rgb(46, 51, 61);
    color: white;
}

body[filter_by_impact=all] .card {
    display: block !important;

    .v-detail {
        display: block !important;
    }
}

body[filter_by_impact=critical] {

    [has-critical=true], li[impact=critical] {
        display: block !important;
    }
}

body[filter_by_impact=serious] {

    [has-serious=true], li[impact=serious] {
        display: block !important;
    }
}

body[filter_by_impact=moderate] {

    [has-moderate=true], li[impact=moderate] {
        display: block !important;
    }
}

body[filter_by_impact=minor] {

    [has-minor=true], li[impact=minor] {
        display: block !important;
    }
}

